@model TaskManager.Models.Document

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOutgoingDocumentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOutgoingDocumentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOutgoingDocumentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOutgoingDocumentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceTaskText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceTaskText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceIsExternal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceIsExternal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOutputDocumentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOutputDocumentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOutputDocumentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOutputDocumentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceResponsibleEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceResponsibleEmployee.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputOutgoingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputOutgoingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputOutgoingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputOutgoingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputSentTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputSentTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputTransferredInWorkOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputTransferredInWorkOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputResponseSubmissionMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputResponseSubmissionMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUnderControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUnderControl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
